@using EmployeeLibrary.Models

@model EmployeeLibrary.ViewModels.ManageViewModel

@if (ViewBag.IsPost)
{
    <h2>Add new employee</h2>
}
else
{
    <h2>Edit employee: @Model.LastName</h2>
}

@{
    string action = string.Empty;

    if (ViewBag.IsPost)
        action = "Post";
    else
        action = "Put";
}

<form asp-action="@action" method="post">
    <div class="validation" style="color: red" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="mb-3 form-group">
            <label class="form-label" asp-for="FirstName"></label>
            <input class="form-control" asp-for="FirstName" />
            <span style="color: red" asp-validation-for="FirstName"></span>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" asp-for="LastName"></label>
            <input class="form-control" asp-for="LastName" />
            <span style="color: red" asp-validation-for="LastName"></span>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" asp-for="Age"></label>
            <input class="form-control" asp-for="Age" />
            <span style="color: red" asp-validation-for="Age"></span>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" />
            <span style="color: red" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" asp-for="ConfirmPassword"></label>
            <input class="form-control" asp-for="ConfirmPassword" />
            <span style="color: red" asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" asp-for="Role"></label>
            <select class="form-control" asp-for="Role" asp-items="new SelectList(Enum.GetValues(typeof(Roles)).Cast<Roles>().ToArray())"></select>
            <span style="color: red" asp-validation-for="Role"></span>
        </div>


        <div class="form-group">
            <input type="submit" class="btn btn-outline-dark" value="Confirm" />
        </div>
    </div>
</form>
